.n-items {
    display: none;
}
.toggle {
    display: block;
}

#intro {
    flex-direction: column;
    padding-bottom: 6%;
}
.i-typo {
    text-align: center;
}
.i-profile-image {
    width: 420px;
  
  
}
.i-profile-image > img {
  
    width: 420px;
  
}
#skills {
    height: 130vh;
    padding-bottom: 6%;
   
}
.s-item {
    margin-top: 5px;
}
.s-bg {
    height: 130%;
    width: 60%;
}
.s-i-t-one {
   padding-top: 25%;
  
}
.s-i-t-item {
    width: 200px;
  
}
.f-container {
   
    justify-content: space-center;
}
#featured {
    margin: 0 6%;
}

.i-f-h-l {
    width: 70%;
}


#contact {
   flex-direction: column;
   margin-top: 10px;

  
}

.c-body {
    padding-bottom: 10px;
}
.f-one ul li {
    padding-left: 8px;
}

.f-two {
    justify-content: space-around;
}
.f-two ul {
    padding-left: 20px; 
    
}
